@using System.Globalization;
@{
    ViewData["Title"] = "Programme";
    var _class = "";
    var _info = "";
    if (@ViewBag.Rn >= 0 && @ViewBag.Rn <= 4)
    {
        _class = "danger";
        _info = "Pas bon du tout 🤯";
    }
    else if (@ViewBag.Rn >= 4 && @ViewBag.Rn <= 7)
    {
        _class = "warning";
        _info = "On peut mieux faire 🙄";
    }
    else
    {
        _class = "success";
        _info = "Super, faut continuer... 🥳";
    }
}

<!-- partial -->
<div class="main-panel">
<div class="content-wrapper">
    <div class="row">
        <div class="col-sm-12">
            <div class="home-tab">
                <div class="tab-content tab-content-basic">
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="statistics-details d-flex align-items-center justify-content-between">
                                    <div>
                                        <p class="statistics-title">Scénace(s)</p>
                                        <h3 class="rate-percentage">4</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>-0.5%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Calories</p>
                                        <h3 class="rate-percentage">7,682</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>+0.1%</span></p>
                                    </div>
                                    <div>
                                        <p class="statistics-title">Temps en salle</p>
                                        <h3 class="rate-percentage">68.8</h3>
                                        <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8</span></p>
                                    </div>
                                    <div class="d-none d-md-block">
                                        <p class="statistics-title">Scéance(s) annulée(s)</p>
                                        <h3 class="rate-percentage">2m:35s</h3>
                                        <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>+0.8%</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="col-lg-8 d-flex flex-column">
                                    <div class="row flex-grow">
                                        <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Suivi quotidien</h4>
                                                            <h5 class="card-subtitle card-subtitle-dash">Mon historique d'entrainement sur une semaine glissante</h5>
                                                        </div>
                                                        <div id="performance-line-legend"></div>
                                                    </div>
                                                    <div class="chartjs-wrapper mt-5">
                                                        <canvas id="performaneLine"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 d-flex flex-column">
                                    <div class="row flex-grow">
                                        <div class="col-md-8 col-lg-12 grid-margin stretch-card">
                                            <div class="card bg-@_class card-rounded">
                                                <div class="card-body pb-0">
                                                    <h4 class="card-title card-title-dash text-white mb-4">Indice de performance</h4>
                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <p class="status-summary-ight-white mb-1">@_info</p>
                                                            <h2 class="text-white">@ViewBag.Rn</h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-lg-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-sm-6">
                                                            <div class="d-flex justify-content-between align-items-center mb-2 mb-sm-0">
                                                                <div class="circle-progress-width">
                                                                    <div id="totalVisitors" class="progressbar-js-circle pr-2"></div>
                                                                </div>
                                                                <div>
                                                                    <p class="text-small mb-2">Total Visitors</p>
                                                                    <h4 class="mb-0 fw-bold">26.80%</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <div class="circle-progress-width">
                                                                    <div id="visitperday" class="progressbar-js-circle pr-2"></div>
                                                                </div>
                                                                <div>
                                                                    <p class="text-small mb-2">Visits per day</p>
                                                                    <h4 class="mb-0 fw-bold">9065</h4>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-md-6 col-lg-8 grid-margin stretch-card">
                                <div class="card card-rounded">
                                    <div class="card-body card-rounded">
                                        <h4 class="card-title  card-title-dash">Prochains cours</h4>
                                            @foreach (var activite in ViewBag.NextActivites)
                                            {
                                        <div class="list align-items-center border-bottom py-2">
                                            <div class="wrapper w-100">
                                                <p class="mb-2 font-weight-medium">
                                                    Séance de
                                                    <span class="text-light-green" style="font-weight:bold">@activite.nomDiscipline.ToUpper()</span> avec le coach 
                                                    <span class="text-light-green" style="font-weight:bold">@activite.nomCoach.ToUpper()</span>
                                                </p>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <div class="d-flex align-items-center">
                                                        <i class="mdi mdi-calendar text-muted me-1"></i>
                                                        @*<p class="mb-0 text-small text-muted">Mar 14, 2019</p>*@
                                                        <p class="mb-0 text-small text-muted">@(activite.dateCours.ToString())&nbsp;&nbsp;&nbsp;</p>
                                                        @if (@activite.etatDuCours.ToLower().Contains("annul"))
                                                        {
                                                            <div style="font-size:8px" class="badge badge-opacity-danger me-1">@activite.etatDuCours.ToUpper()</div>
                                                        }else if(@activite.etatDuCours.ToLower().Contains("report"))
                                                        {
                                                            <div style="font-size:8px background-color="#F00" class="badge badge-opacity-warning me-1">@activite.etatDuCours.ToUpper()</div>
                                                        }
                                                        else
                                                        {
                                                            <div style="font-size:8px" class="badge badge-opacity-success me-1">@activite.etatDuCours.ToUpper()</div>
                                                        }
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        }
                                        <div class="list align-items-center pt-3">
                                            <div class="wrapper w-100">
                                                <p class="mb-0">
                                                    <a href="#" class="fw-bold text-primary">Voir tout <i class="mdi mdi-arrow-right ms-2"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-4 grid-margin stretch-card">
                                <div class="card card-rounded">
                                    <div class="card-body">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <h4 class="card-title card-title-dash">Activités passées</h4>
                                                <p class="mb-0">@ViewBag.PreviousActivites.Count cours términés</p>
                                        </div>
                                        <ul class="bullet-line-list">
                                            @foreach (var activite in ViewBag.PreviousActivites)
                                            {
                                            <li>
                                                <div class="d-flex justify-content-between">
                                                    <div>Cours de <span class="text-light-green" style="font-weight:bold">@activite.nomDiscipline.ToUpper()</span> avec @activite.nomCoach</div>
                                                    <p>Il y a @((int)(DateTime.ParseExact(activite.dateCours.ToString(), "dd/MM/yyyy", CultureInfo.InvariantCulture) - DateTime.Now).TotalDays * -1) jour(s)</p>
                                                </div>
                                            </li>
                                            }
                                        </ul>
                                        <div class="list align-items-center pt-3">
                                            <div class="wrapper w-100">
                                                <p class="mb-0">
                                                    <a href="#" class="fw-bold text-primary">Voir tout <i class="mdi mdi-arrow-right ms-2"></i></a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>